@import url(../fonts/stylesheet.css);

body,
html {
  overflow-x: hidden;
  font-family: 'Decima Mono Cyr';
  background-color: #0E0E0E;
  color: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  font-weight: 300;
}

li {
  list-style: none;
}

a {
  color: inherit;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

/* HEADER START */

.header-menu {
  margin-bottom: 193px;
}

.header-menu__btn {
  display: none;
}

.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header-menu__list-item {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 40px 20px;
}

.header-menu__list-item:hover .header-menu__list-link {
  background: -webkit-gradient(linear, right top, left top, from(rgba(188, 83, 83, 0.36)), to(rgba(227, 20, 20, 0))), -webkit-gradient(linear, left top, right top, from(#D12E2E), to(#4E0E0E));
  background: -o-linear-gradient(right, rgba(188, 83, 83, 0.36) 0%, rgba(227, 20, 20, 0) 100%), -o-linear-gradient(left, #D12E2E 0%, #4E0E0E 100%);
  background: linear-gradient(270deg, rgba(188, 83, 83, 0.36) 0%, rgba(227, 20, 20, 0) 100%), linear-gradient(90deg, #D12E2E 0%, #4E0E0E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-menu__list-link {
  position: relative;
}

.header-menu__list-link::before {
  opacity: 0;
  content: "";
  background-color: red;
  width: 56%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-menu__list-link:hover:before {
  opacity: 1;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__text {
  text-transform: uppercase;
  margin-left: 216px;
}

.header__title {
  font-style: normal;
  font-weight: 700;
  font-size: 87px;
}

.header__title-span {
  background: -webkit-gradient(linear, right top, left top, from(rgba(188, 83, 83, 0.36)), to(rgba(227, 20, 20, 0))), -webkit-gradient(linear, left top, right top, from(#D12E2E), to(#4E0E0E));
  background: -o-linear-gradient(right, rgba(188, 83, 83, 0.36) 0%, rgba(227, 20, 20, 0) 100%), -o-linear-gradient(left, #D12E2E 0%, #4E0E0E 100%);
  background: linear-gradient(270deg, rgba(188, 83, 83, 0.36) 0%, rgba(227, 20, 20, 0) 100%), linear-gradient(90deg, #D12E2E 0%, #4E0E0E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__subtitle {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 96px;
}

.header-img {
  width: 634.35px;
  height: 758px;
}

.header-img img {
  margin-top: -200px;
  width: 100%;
  height: 100%;
}

.header__btn {
  font-size: 24px;
  line-height: 32px;
  padding: 20px 105px;
  border: 2px solid #D9D9D9;
}

/* HEADER END */

/* ABOUT START */

.about__container {
  margin-bottom: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 216px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.about__first-item {
  max-width: 545px;
}

.about__first-title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 24px;
  padding-left: 12px;
}

.about__first-title::before {
  content: "";
  background: #D9D9D9;
  width: 3px;
  height: 42px;
  position: absolute;
  bottom: 46%;
  left: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.about__first-subtitle {
  padding-left: 12px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.06);
  font-style: italic;
  font-weight: 300;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 23px;
}

.about__first-text {
  padding-left: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.about__second-item {
  max-width: 280px;
}

.about__second-img {
  margin-bottom: 45px;
}

.about__second-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  padding-left: 12px;
  margin-bottom: 30px;
}

.about__second-title::before {
  content: "";
  background: #D9D9D9;
  width: 3px;
  height: 25px;
  position: absolute;
  bottom: 46%;
  left: 0;
  -webkit-transform: translate(50%, 50%);
  -ms-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}

.about__second-subtitle {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  padding-left: 12px;
  line-height: 28px;
}

/* ABOUT END */

/* PROJECT START */

.project {
  margin-bottom: 250px;
}

.project__container {
  padding: 0 221px;
}

.project__first-item {
  text-align: center;
  max-width: 380px;
}

.project__third-item {
  max-width: 491px;
}

.project__span {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
}

.project__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
}

.all__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.all__projects-item {
  max-width: 396px;
  margin: 0 10px 80px 10px;
}

.all__projects-img {
  margin-bottom: 40px;
  width: 396px;
}

.all__projects-img img {
  width: 100%;
}

.all__projects-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-transform: uppercase;
}

.all__projects-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  padding: 23px 80px;
  background: -o-linear-gradient(299.02deg, #3B3B3B 0%, #2B2B2B 100%);
  background: linear-gradient(150.98deg, #3B3B3B 0%, #2B2B2B 100%);
  opacity: 0.5;
  -webkit-box-shadow: 9px 4px 17px rgba(0, 0, 0, 0.73);
  box-shadow: 9px 4px 17px rgba(0, 0, 0, 0.73);
}

.line {
  max-width: 336px;
  background-color: #D9D9D9;
  height: 3px;
  margin-bottom: 16px;
}

/* PROJECT END */

/* SERVICES START */

.services__container {
  padding: 0 223px;
}

.services__title {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 856px;
}

.services__title-text {
  max-width: 495px;
}

.services__card-desk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services__card {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  max-width: 450px;
  position: relative;
  padding: 63px 0 62px 77px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.services__card_padding {
  margin-top: 63px;
}

.services__card::after {
  background-color: #D9D9D9;
  width: 3px;
  height: 494px;
  position: absolute;
  content: "";
  top: 40%;
  left: 32px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.services__card:hover .card__price {
  background: -webkit-gradient(linear, right top, left top, from(rgba(188, 83, 83, 0.36)), to(rgba(227, 20, 20, 0))), -webkit-gradient(linear, left top, right top, from(#D12E2E), to(#4E0E0E));
  background: -o-linear-gradient(right, rgba(188, 83, 83, 0.36) 0%, rgba(227, 20, 20, 0) 100%), -o-linear-gradient(left, #D12E2E 0%, #4E0E0E 100%);
  background: linear-gradient(270deg, rgba(188, 83, 83, 0.36) 0%, rgba(227, 20, 20, 0) 100%), linear-gradient(90deg, #D12E2E 0%, #4E0E0E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px 3px 7px rgba(209, 46, 46, 0.27);
  cursor: pointer;
}

.services__card:hover {
  background: -o-linear-gradient(299.02deg, #3B3B3B 0%, #2B2B2B 50%);
  background: linear-gradient(150.98deg, #3B3B3B 0%, #2B2B2B 50%);
}

.services__card-status {
  font-style: normal;
  font-weight: bold;
  font-size: 32px !important;
  line-height: 40px;
  margin-bottom: 5px;
}

.card__line {
  width: 150px;
  background-color: #D9D9D9;
  height: 3px;
  margin-bottom: 40px;
}

.card__line_dotted {
  width: 150px;
  border-bottom: 3px dashed #D9D9D9;
  margin-bottom: 50px;
}

.card__content {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  padding: 0;
  max-width: 450px;
}

.card__content_first {
  color: #fff;
  margin-bottom: 20px;
}

.card__content_margin {
  margin-bottom: 20px;
}

.card__content_width {
  max-width: 450px;
  margin-bottom: 108px;
}

.card__content_padding {
  margin-bottom: 40px;
}

.card__price {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}

/* SERVICES END */

/* CONTACT START */

.contact__container {
  padding: 250px 151px;
}

.contact__form {
  background: -o-linear-gradient(299.02deg, #3B3B3B 0%, #2B2B2B 100%);
  background: linear-gradient(150.98deg, #3B3B3B 0%, #2B2B2B 100%);
  -webkit-box-shadow: 9px 4px 17px rgba(0, 0, 0, 0.73);
  box-shadow: 9px 4px 17px rgba(0, 0, 0, 0.73);
  padding: 59px 50px;
}

.contact__form-input {
  background-color: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #c4c4c4;
  font-size: 36px;
  font-weight: 700;
  color: #D9D9D9;
  padding-bottom: 16px;
}

.contact__form-input::-webkit-input-placeholder {
  color: #D9D9D9;
}

.contact__form-input::-moz-placeholder {
  color: #D9D9D9;
}

.contact__form-input:-ms-input-placeholder {
  color: #D9D9D9;
}

.contact__form-input::-ms-input-placeholder {
  color: #D9D9D9;
}

.contact__form-input::placeholder {
  color: #D9D9D9;
}

.contact__form-input_margin {
  margin-right: 28px;
}

.submit-btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  margin: 5px 0 0 5px;
}

.form__text {
  max-width: 518px;
  margin-top: 16px;
}

/* CONTACT END */

/* ADDRESS START */

.footer__container {
  padding: 0 182px 100px 262px;
}

.footer__title {
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #D9D9D9;
  margin-bottom: 52px;
}

.footer__menu {
  font-size: 20px;
}

.footer__menu-left {
  margin-right: 43px;
  opacity: 0.5;
}

.footer__menu-right {
  margin-right: 43px;
}

.footer__menu-item {
  margin-bottom: 24px;
}

.footer__line {
  width: 100%;
  border-bottom: dashed 2px #d12e2e;
  margin-bottom: 51px;
}

.footer__icons {
  text-align: right;
  margin-top: 60px;
}

.footer__icons-link:hover {
  background: -webkit-gradient(linear, right top, left top, from(rgba(188, 83, 83, 0.36)), to(rgba(227, 20, 20, 0))), -webkit-gradient(linear, left top, right top, from(#D12E2E), to(#4E0E0E));
  background: -o-linear-gradient(right, rgba(188, 83, 83, 0.36) 0%, rgba(227, 20, 20, 0) 100%), -o-linear-gradient(left, #D12E2E 0%, #4E0E0E 100%);
  background: linear-gradient(270deg, rgba(188, 83, 83, 0.36) 0%, rgba(227, 20, 20, 0) 100%), linear-gradient(90deg, #D12E2E 0%, #4E0E0E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.after-line__left {
  max-width: 315px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
}

.after-line__right {
  margin-left: 109px;
  font-weight: bold;
  font-size: 32px;
}

.copy {
  margin-top: 52px;
  font-size: 13px;
  color: #63616B;
}

/* ADDRESS END */

#top {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
  cursor: pointer;
  z-index: 10;
  font-size: 60px;
}

@media (max-width: 1844.98px) {
  .header__title {
    font-size: 55px;
  }

  .header-img {
    width: 551.35px;
    height: 730px;
  }

  .header-img img {
    margin-top: -200px;
  }
}

@media (max-width: 1744.98px) {
  .header__title {
    font-size: 60px;
  }

  .header-img {
    width: 731.35px;
    height: 818px;
  }
}

@media (max-width: 1399.98px) {
  .header__title {
    font-size: 50px;
  }

  .header-img {
    width: 531.35px;
    height: 618px;
  }

  .header-img img {
    margin-top: -180px;
  }
}